<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>

  
  <body>
    
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | Niloufar Yousefi }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <img src="Niloufar.jpg" alt="Niloufar Yousefi">

        <img src="Location.png" alt="Location Icon" style="width: 20px; height: 20px; margin-right: 5px; vertical-align: middle;"> Toronto, ON, Canada<br>

         <a href="niloufar.yousefi@utoronto.ca">
          <img src="Email.jpg" alt="Email Icon" style="width: 20px; height: 20px; margin-right: 5px; vertical-align: middle;">Email</a><br>
        
        <a href="https://scholar.google.ca/citations?user=Mj6tN2EAAAAJ&hl=en">
          <img src="Scholar.png" alt="Google Scholar Icon" style="width: 20px; height: 20px; margin-right: 5px; vertical-align: middle;"> Google Scholar</a><br>
        
        <a href="https://www.linkedin.com/in/niloufaryousefi/">
          <img src="LinkedIn.png" alt="LinkedIn Icon" style="width: 20px; height: 20px; margin-right: 5px; vertical-align: middle;"> LinkedIn</a>


        
      </header>

      
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
